{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "max-len": [ 1, { "code": 120, "ignoreTemplateLiterals": true } ],
    "arrow-parens": [ 1, "as-needed" ],
    "@typescript-eslint/no-explicit-any": 0
  }
}
